*{
/* Default css properties
  -TopinambourTerminal-foreground: #aeafad;
  -TopinambourTerminal-background: #323232;
  -TopinambourTerminal-black: #000000;
  -TopinambourTerminal-red: #b9214f;
  -TopinambourTerminal-green: #A6E22E;
  -TopinambourTerminal-yellow: #ff9800;
  -TopinambourTerminal-blue: #3399ff;
  -TopinambourTerminal-magenta: #8e33ff;
  -TopinambourTerminal-cyan: #06a2dc;
  -TopinambourTerminal-white: #B0B0B0;
  -TopinambourTerminal-brightblack: #5D5D5D;
  -TopinambourTerminal-brightred: #ff5c8d;
  -TopinambourTerminal-brightgreen: #CDEE69;
  -TopinambourTerminal-brightyellow: #ffff00;
  -TopinambourTerminal-brightblue: #9CD9F0;
  -TopinambourTerminal-brightmagenta: #FBB1F9;
  -TopinambourTerminal-brightcyan: #77DFD8;
  -TopinambourTerminal-brightwhite: #F7F7F7;
  -TopinambourTerminal-font: Monospace 11;
  -TopinambourWindow-shell: "/usr/bin/fish";
  -TopinambourWindow-css-editor-style: "monokai-extended";
  -TopinambourWindow-height: 500;
  -TopinambourWindow-width: 1000;*/
}

TopinambourWindow GtkHeaderBar GtkEntry{
  border-radius: 4px;
}
TopinambourWindow GtkOverlay GtkBox#resize_box{
  background: rgba(49, 150, 188, 0.5);
  border: solid 1px rgba(49, 150, 188, 1);
  border-radius: 6px 0px 0px 0px;
}
TopinambourWindow GtkOverlay GtkScrolledWindow#terminal_chooser GtkBox{
  background-color: rgba(49, 150, 188, 0.5);
  border: solid 1px rgba(49, 150, 188, 1);
  border-radius: 6px 0px 0px 6px;
}

TopinambourWindow GtkOverlay GtkScrolledWindow GtkGrid GtkButton {
  margin: 0px;
  padding: 0px;
}

TopinambourWindow GtkOverlay GtkScrolledWindow GtkGrid GtkButton GtkImage {
  border: solid 3px rgba(0, 0, 0, 0.0);
}

.tooltip {
  background:rgba(50, 50, 50,0.5);
  border:none;
  color: #ddd;
  border-radius: 0px 6px 0px 6px;
}
