*{
/* Default css properties
  -TopinambourTerminal-foreground: #aeafad;
  -TopinambourTerminal-background: #323232;
  -TopinambourTerminal-black: #000000;
  -TopinambourTerminal-red: #b9214f;
  -TopinambourTerminal-green: #A6E22E;
  -TopinambourTerminal-yellow: #ff9800;
  -TopinambourTerminal-blue: #3399ff;
  -TopinambourTerminal-magenta: #8e33ff;
  -TopinambourTerminal-cyan: #06a2dc;
  -TopinambourTerminal-white: #B0B0B0;
  -TopinambourTerminal-brightblack: #5D5D5D;
  -TopinambourTerminal-brightred: #ff5c8d;
  -TopinambourTerminal-brightgreen: #CDEE69;
  -TopinambourTerminal-brightyellow: #ffff00;
  -TopinambourTerminal-brightblue: #9CD9F0;
  -TopinambourTerminal-brightmagenta: #FBB1F9;
  -TopinambourTerminal-brightcyan: #77DFD8;
  -TopinambourTerminal-brightwhite: #F7F7F7;
  -TopinambourTerminal-font: Monospace 11;
  -TopinambourWindow-shell: "/usr/bin/fish";
  -TopinambourWindow-css-editor-style: "monokai-extended";
  -TopinambourWindow-height: 500;
  -TopinambourWindow-width: 1000;*/
}

TopinambourWindow headerbar entry{
  border-radius: 4px;
}

#OverviewBox {
  background-color: rgba(0,0,0,0.2);
  border: solid 1px rgba(49, 150, 188, 1);
  border-radius: 6px 0px 0px 6px;
}

treeview.view#terms-list {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px 0px 0px 6px;
}
treeview.view header { 
  background-color: rgba(1,1,1,0.2);
}treeview.view rubberband { 
  background-color: rgba(1,1,1,0.2);
}
box#overview-main-box {  
  background-color: rgba(0,0,0,0.2);
  border: solid 1px rgba(49, 150, 188, 1);
  border-radius: 6px 0px 0px 6px;
}


grid button {
  margin: 0px;
  padding: 0px;

}

 grid button image {
  border: solid 3px rgba(0, 0, 0, 0.0);
  margin: 0px;  
  padding: 0px;
}
