*{
}

#topinambour-window {
  background-color: rgba(0,0,0,0);
}

#topinambour-headerbar {
  background-color: #282828;
  border: none;
  box-shadow: none;
}
#topinambour-headerbar:backdrop {
  background-color: rgba(50,50,50,0.7);
  border: none;
  box-shadow: none;
}

#topinambour-scrollbar {
	background-color: rgba(0,0,0,0);
	border: none;
}
#topinambour-scrollbar trough{
	background-color: rgba(0,0,0,0);
	border: none;
}
#topinambour-scrollbar slider{
  margin: 0px;
	background-color: rgba(255,255,255,0.1);
}

#topinambour-term-box {
	background-color: #282828;
}
